<turbo-stream action="append" target="feed-list">
  <template>
    <% @movies.each do |movie| %>
      <div class="col-12 d-flex justify-content-center mb-4">
        <%= render "shared/feed", movie: movie %>
      </div>
    <% end %>
  </template>
</turbo-stream>