<div id="<%= dom_id comment %>">
  <p>
    <strong>Movie:</strong>
    <%= comment.movie_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment.user %>
  </p>

</div>
