<% content_for :title, "New movie metric" %>

<h1>New movie metric</h1>

<%= render "form", movie_metric: @movie_metric %>

<br>

<div>
  <%= link_to "Back to movie metrics", movie_metrics_path %>
</div>
