<div id="<%= dom_id movie %>">
  <% movie.images.each do |image| %>
    <%= image_tag image.variant(resize_to_limit: [300, 300]), class: "block mx-auto w-64 h-auto" %><br>
  <% end %>
  <p>
    <strong>Title:</strong>
    <%= movie.title %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= movie.description[0..100] + "..." %>
  </p>
</div>
