<div class="d-flex justify-content-around text-center">
  <button class="btn btn-light w-100 me-2">
    <i class="bi bi-hand-thumbs-up-fill"></i> <%=movie_metric.likes_count %>
  </button>
  <button class="btn btn-light w-100 me-2" 
        data-bs-toggle="collapse" 
        data-bs-target="#comments-panel">
    <i class="bi bi-chat-dots"></i> <%= movie_metric.comments_count %>
  </button>
  <button class="btn btn-light w-100">
    <i class="bi bi-share"></i> <%= movie_metric.shares_count %>
  </button>
  <button class="btn btn-light w-100">
    <i class="bi bi-eye"></i> <%= movie_metric.views_count %>
  </button>
</div>