<div class="mr-20">
  <%= link_to "<<< กลับสู่หน้าหลัก", root_path %>
</div>
<div data-controller="greet">
  <button data-action="greet#hello" class="btn btn-primary">
    Click Me
  </button>
</div>
<div data-controller="greet">
  <input data-greet-target="name" type="text">
  <button data-action="greet#greet">
    Say Hello
  </button>
</div>
<div id="movies">
  <%= render @movies %>
</div>