<div class="mr-20">
  <%= link_to "<<< กลับสู่หน้าหลัก", root_path %>
</div>
<div class="container">
  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-md-4 mb-3">
        <div class="card" style="width: 18rem;">
          <img src="<%= Rails.application.routes.url_helpers.rails_blob_url(movie.images.first, only_path: true) %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
          </div>
        </div>
      </div>
    <% end %>
    <!-- Add more cards, they will wrap to next line automatically -->
  </div>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
