<div class="position-relative" data-controller="panel">
  <!-- Button -->
  <button 
    type="button" 
    class="btn btn-primary rounded-circle d-inline-flex align-items-center justify-content-center position-relative" 
    data-action="click->panel#toggle"
    >
    <i class="bi bi-bell-fill text-white fs-5"></i>
  </button>
  <!-- Panel -->
  <div 
    data-panel-target="panel" 
    class="position-absolute bg-white border rounded shadow p-3 d-none"
    style="min-width: 400px; z-index: 1050; right: -180px; top: 100%;"
  >
    <p>Notifications</p>
    <% @notifications = Notification.where(user: current_user).order(created_at: :desc).limit(10) %>
    <%= render @notifications %>
  </div>
  <!-- Notification count -->
  <%= render "notifications/count", user: current_user %>
</div>