<%= link_to user_path(user), target: "_blank", class: "d-flex align-items-center gap-2 text-decoration-none" do %>
  <%= image_tag(
        if user.avatar.attached?
        user.avatar.variant(resize_to_fill: [30, 30])
        else
        "placeholder.png" # put your default image in app/assets/images
        end,
        class: "rounded-circle",
        width: 30,
        height: 30,
        alt: "User Avatar"
    ) %>
  <span class="text-dark fw-bold"><%= user.get_display_name %>
  </span>
<% end %>