.hover-scale {
    transition: transform 0.5s ease;
}

.hover-scale:hover {
    transform: scale(1.1);
}

.fade-out {
    animation: fadeOut 3s ease-out forwards;
    animation-delay: 1s;
}

@keyframes fadeOut {
    from {
        background-color: green;
        opacity: 1;
    }

    to {
        background-color: transparent;
        opacity: 1;
    }
}